<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
           
	<bean id="pwdTaskDao" class="com.integrity.dataSmart.pwdCrack.dao.PwdTaskDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="pwdTaskService" class="com.integrity.dataSmart.pwdCrack.service.PwdTaskService">
        <property name="pwdTaskDao" ref="pwdTaskDao"/>
    </bean>
    <bean id="pwdRunTaskService"
		class="com.integrity.dataSmart.pwdCrack.service.PwdRunTaskService">
		<property name="pwdTaskDao">
			<ref bean="pwdTaskDao" />
		</property>
	</bean>
	<bean id="pwdTaskAction" class="com.integrity.dataSmart.pwdCrack.action.PwdTaskAction" scope="prototype">
		<property name="ptService">
			<ref bean="pwdTaskService" />
		</property>
		<property name="prtService">
			<ref bean="pwdRunTaskService" />
		</property>
		<property name="pi">
			<ref bean="pageInfo" />
		</property>
	</bean>
	<bean id="pwdTaskForm" class="com.integrity.dataSmart.pwdCrack.action.PwdTaskForm" scope="prototype"/>
    <bean id="pwdTaskAddAction" class="com.integrity.dataSmart.pwdCrack.action.PwdTaskAddAction" scope="prototype">
		<property name="ptService">
			<ref bean="pwdTaskService" />
		</property>
		<property name="ptForm">
			<ref bean="pwdTaskForm" />
		</property>
	</bean>
</beans>