<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
           
    
	 <!-- 系统管理页面view  -->
	<bean id="systemManageAction" class="com.integrity.system.manage.action.SystemManageAction" scope="prototype">
	</bean>
	
	<!-- 权限管理 -->
	<bean id="permissionDao" class="com.integrity.system.auth.dao.PermissionDao" >
	      <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="permissionService" class="com.integrity.system.auth.service.PermissionService" >
	      <property name="permissionDao" ref="permissionDao"/>
	</bean>
	<bean id="permissionAction" class="com.integrity.system.auth.action.PermissionAction" scope="prototype">
	      <property name="permissionService" ref="permissionService"/>
	</bean>
	<bean id="roleDao" class="com.integrity.system.auth.dao.RoleDao" >
	      <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="roleService" class="com.integrity.system.auth.service.RoleService" >
	      <property name="roleDao" ref="roleDao"/>
	</bean>
	<bean id="roleAction" class="com.integrity.system.auth.action.RoleAction" scope="prototype">
	      <property name="roleService" ref="roleService"/>
	</bean>

	<bean id="authUserDao" class="com.integrity.system.auth.dao.UserDao" >
	      <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="authUserService" class="com.integrity.system.auth.service.UserService" >
	      <property name="userDao" ref="authUserDao"/>
	      <property name="roleDao" ref="roleDao"/>
	      <property name="permissionDao" ref="permissionDao"/>
	</bean>
	<bean id="authUserAction" class="com.integrity.system.auth.action.UserAction" scope="prototype">
	      <property name="userService" ref="authUserService"/>
	</bean>
	
	
	<!-- 对象管理 -->
	<bean id="dataTypeDao" class="com.integrity.system.dataType.dao.DataTypeDao" >
	      <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="dataTypeService" class="com.integrity.system.dataType.service.DataTypeService" >
		<property name="dataTypeDao" ref="dataTypeDao"/>
	</bean>
	<bean id="dataTypeAction" class="com.integrity.system.dataType.action.DataTypeAction" scope="prototype">
	    <property name="dataTypeService" ref="dataTypeService"/>
	</bean>
	 <!-- LogManage-Spring -->
	 <bean id="logManageAction" class="com.integrity.system.logManage.action.LogManageAction" scope="prototype">
		<property name="logManageService" ref="logManageService"/>
	</bean>
	<bean id="LoginInterceptor" class="com.integrity.dataSmart.interceptor.LoginInterceptor" scope="prototype">
		<property name="logManageService" ref="logManageService"/>
	</bean>
	<bean id="logManageDao" class="com.integrity.system.logManage.dao.LogManageDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="logManageService" class="com.integrity.system.logManage.service.LogManageService">
        <property name="logManageDao" ref="logManageDao"/>
    </bean>

	<!-- 恢复出厂-->
	<bean id="resetDao" class="com.integrity.system.reset.dao.ResetDao" >
	      <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="resetService" class="com.integrity.system.reset.service.ResetService" >
		<property name="resetDao" ref="resetDao"/>
	</bean>
	<bean id="resetAction" class="com.integrity.system.reset.action.ResetAction" scope="prototype">
	    <property name="resetService" ref="resetService"/>
	</bean>
	
</beans>