body{
	color:#fff;
	background:#0C2456;
	font-size:20px;
	text-align:center;
	background: url(../../../images/systemManage/resetBg.png) 0px 0px repeat;
}
.resetDiv{
	margin-top:200px;
}
@media (min-width: 1370px) {
  .resetDiv{
		margin-top:300px;
  }
}
.resetbtnDiv{
	text-align:center;
	margin-top:30px;
}
.resetbtnDiv .resetBtn{
	width:auto;
	padding:5px 20px;
	line-height:28px;
	color:#fff;
	background:#2a3fc1;
	border:none;
	border-radius:3px;
	font-size:16px;
}
/*4月18日修改弹出层*/
.modal-body p{
	color:#333;
	font-size: 16px;
    text-align: left;
    text-indent: 2em;
}



